/* CDN Fonts */
@import url('https://fonts.cdnfonts.com/css/diphylleia');

/* Font Faces */
@font-face {
  font-family: 'Aritaburi';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Arita-buri-SemiBold.woff') format('woff');
  font-weight: 400;
  font-display: swap;
}

/* CSS Variables */
:root {
  --font-ko-main: 'Aritaburi', sans-serif;
  --font-en-main: 'Diphylleia', sans-serif;
  --color-primary: #e8ebe6;
  --color-secondary: #7a8471;
}